/* Fonts */
@font-face {
  font-family: "lobster_1.3regular";
  src: url("fonts/lobster_1.3-webfont.woff2") format("woff2"),
    url("fonts/lobster_1.3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanslight";
  src: url("fonts/opensans-light-webfont.woff2") format("woff2"),
    url("fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ralewayregular";
  src: url("fonts/raleway-regular-webfont.woff2") format("woff2"),
    url("fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-color: #fee6cc;
  --brown-color: #6b4f4f;
}

/* Basic Reset: Needed Only */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}
h2 {
  text-wrap: balance;
  overflow-wrap: break-word;
}
/* Base Styles */
body {
  display: flex;
  min-height: 100vh;
}
.left-col {
  flex: 1 1 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(img/left-bg.jpg) center center / cover no-repeat;

  & .item-one {
    flex: auto;
    align-content: end;
  }
  & .item-two {
    flex: 2;
    align-content: end;
  }
}
.right-col {
  flex: 1 1 60vw;
  display: flex;
  flex-direction: column;

  & > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
  & > :nth-child(2) {
    align-content: center;
  }
}
.logo {
  position: relative;
  text-align: center;
  background: #fee6cc42;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;

  & span {
    font-family: "lobster_1.3regular";
    color: #fee6cc;
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    text-shadow: 5px 5px 2px black;
  }
  & img {
    width: min(80px, 20%);
    filter: drop-shadow(0 -6mm 4mm #dc750e);
  }
}
.credits {
  text-align: center;
  font-family: "open_sanslight";
  color: #fff;
  font-size: 0.75rem;
  padding-bottom: 12px;

  & a {
    color: var(--primary-color);
  }
}
#form-controls {
  padding: 2em;

  .set {
    display: flex;
    gap: 20px;
  }
  h2 {
    font-family: "ralewayregular";
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 8px;
  }
}
.intro-text {
  align-content: center;
  padding: 2em;
  background-color: #efe2db;
  width: 100%;

  p {
    font-family: "ralewayregular";
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--brown-color);
    width: clamp(45ch, 50%, 75ch);
  }
}
.set div label {
  display: block;
}
.links {
  padding: 2em;

  & > * {
    margin-bottom: 24px;
  }
  button {
    background: #6b4f4f;
    color: #fff9f4;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 16px 32px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
  }
  button:hover,
  button:focus-visible {
    background: #8e6e63;
    box-shadow: 0 0 12px 3px rgba(142, 110, 99, 0.6);
    outline-offset: 2px;
  }
}
