/* Fonts */
@font-face {
  font-family: "lobster_1.3regular";
  src: url("fonts/lobster_1.3-webfont.woff2") format("woff2"),
    url("fonts/lobster_1.3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanslight";
  src: url("fonts/opensans-light-webfont.woff2") format("woff2"),
    url("fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ralewayregular";
  src: url("fonts/raleway-regular-webfont.woff2") format("woff2"),
    url("fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Basic Reset: Needed Only */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}
h2 {
  text-wrap: balance;
  overflow-wrap: break-word;
}
/* Base Styles */
body {
  display: flex;
  min-height: 100vh;
}
.left-col {
  flex: 1 1 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-col {
  flex: 1 1 60vw;
}
.logo {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 30%;
}
.credits {
  text-align: center;
}
p {
  width: clamp(45ch, 50%, 75ch);
}
.form-controls > div {
  display: flex;
  gap: 20px;
}
